
# Postgres -----------------------------------------------
POSTGRES_HOST=
POSTGRES_PORT=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# JWT ----------------------------------------------------
JWT_SECRET=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=
JWT_REFRESH_TOKEN_EXPIRE_DAYS=





